ion-content {
    --background: #FFFFFF;
}

ion-toolbar{
    --background:  #ffff00;
}
ion-title{
    color:#000000;
    font-family: 'Poppins', sans-serif;
}
.item .item-content {
    background-color: transparent !important;
}
.item-inner{
    border-radius: 100%;
}

ion-input.ng-pristine.ng-valid.sc-ion-input-md-h.sc-ion-input-md-s.md.hydrated.ng-touched.ion-pristine.ion-valid.ion-touched{
    border-radius: 100%;
}

ion-label#ion-input-0-lbl {
    color: black;
}
ion-label#ion-input-1-lbl{
    color: black;
}
ion-label#ion-input-2-lbl{
    color: black;
}
ion-label#ion-input-3-lbl{
    color: black;
}
ion-label#ion-input-4-lbl{
    color: black;
}
ion-label#ion-input-5-lbl{
    color: black;
}
ion-label#ion-input-6-lbl{
    color: black;
}
ion-label#ion-input-7-lbl{
    color: black;
}
ion-label#ion-input-8-lbl{
    color: black;
}
