<ion-content class="ion-padding animated fadeIn login auth-page">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <h4 class="img-login center">JAZZBurguer</h4>
      </h4>
    </div>
    <br><br>
    <div>
    <ion-button icon-left size="large" expand="full" shape="round" color="dark" (click)="initial()" tappable>
      <ion-icon name="log-in"></ion-icon>
      Login
    </ion-button>

  </div>

  <div>
    <ion-button icon-left size="large" expand="full" shape="round" color="dark" (click)="login()" tappable>
      <ion-icon name="logo-google"></ion-icon>
      google Login
    </ion-button>



  </div>



  <div>
    <ion-button icon-left size="large" expand="full" shape="round" color="dark" (click)="login()" tappable>
      <ion-icon name="logo-facebook"></ion-icon>
      Facebook Login
    </ion-button>



  </div>


  <br /><br />
  <!-- Other links -->
  <div class="cadrec">
    <ion-label>Cadastre-se </ion-label>
    <ion-label>|</ion-label>
    <ion-label> Esqueceu a senha?</ion-label>
  </div>
  </div>
</ion-content>




<ion-footer>



</ion-footer>