<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-home">Escolha uma Categoria</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row class="margin-l">

    <ion-card class="card" style="width: 43%" *ngFor="let item of lista">
      <ion-img class="img-login center" src="{{url_site_img}}{{item.imagem}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{item.produtos}} Produtos</ion-card-subtitle>
        <ion-card-title class="titulo-produto">{{item.nome}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="verProdutos(item.id)" expand="block" color="primary" ><ion-icon name="eye"></ion-icon>VER</ion-button>
      </ion-card-content>
    </ion-card>

   
  </ion-row>



  
<ion-infinite-scroll  (ionInfinite)="loadData($event)" *ngIf="total_itens >= limit">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Carregando mais dados">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    
    refreshingSpinner="circles"
    refreshingText="Carregando...">
  </ion-refresher-content>
</ion-refresher>
  

</ion-content>


<ion-footer>
 

    <ion-grid>
      <ion-row>
        <ion-col >
          <ion-tab-button (click)="produtos()">
            <ion-icon color="primary" name="list-circle"></ion-icon>
            <ion-label>Produtos</ion-label>
          </ion-tab-button>
        </ion-col>

        <ion-col (click)="carrinhoPage()" *ngIf="total_carrinho != undefined">
          <div class="rodape-carrinho center">
          <ion-icon color="danger" name="cart"></ion-icon>
          Carrinho: R$ {{total_carrinho}}
        </div>
        </ion-col>

        <ion-col *ngIf="total_carrinho === undefined">
          <div class="rodape-carrinho center">
          <ion-icon color="danger" name="cart"></ion-icon>
          Carrinho: Sem produtos
        </div>
        </ion-col>


        </ion-row>
        
        </ion-grid>
      
    
      

</ion-footer>




